extends layout

block variables
  - var title = "Dashboard"

block content
  h1.text-center Dashboard

  h4 Logged user: #{username}
  table(style='width:100%', border='1')
    tr
      th Database
      th Role
    each n in roles
      tr
        td #{n.db}
        td #{n.role}
  br
  h4.text-center Test operations
  table(style='width:100%')
    tr.text-center
      td #[a(href="/dashboard/find") Find]
      td #[a(href="/dashboard/insert") Insert]
      td #[a(href="/dashboard/update") Update]
      td #[a(href="/dashboard/delete") Delete]